---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-secrets
  namespace: flux-system
stringData:
  CLUSTER_NAME: "#{ cluster_name }#"
  NODE_CIDR: "#{ node_cidr }#"
  SECRET_DOMAIN: "#{ cloudflare_domain }#"
  CLOUDFLARE_TOKEN: "#{ cloudflare_token }#"
  CLUSTER_API_ADDR: "#{ cluster_api_addr }#"
  CLUSTER_GATEWAY_ADDR: "#{ cluster_gateway_addr }#"
  CLUSTER_DNS_GATEWAY_ADDR: "#{ cluster_dns_gateway_addr }#"
  NAS_SERVER: "#{ nas_server }#"
  NAS_PATH: "#{ nas_path }#"
  NAS_CODING_PATH: "#{ nas_coding_path }#"
  TTYD_CREDENTIAL: "#{ ttyd_credential }#"
  FLUX_SYNC_URL: "https://github.com/#{ repository_name }#.git"
  CLOUDFLARE_TUNNEL_TOKEN: "#{ cloudflare_tunnel_token | default('') }#"
  GITHUB_WEBHOOK_TOKEN: "#{ github_webhook_token | default('') }#"
  POSTGRES_PASSWORD: "#{ postgres_password | default('') }#"
  TRELLO_API_KEY: "#{ trello_api_key | default('') }#"
  TRELLO_API_TOKEN: "#{ trello_api_token | default('') }#"
  TRELLO_BOARD_ID: "#{ trello_board_id | default('') }#"
  LINE_CHANNEL_ACCESS_TOKEN: "#{ line_channel_access_token | default('') }#"
  LINE_CHANNEL_SECRET: "#{ line_channel_secret | default('') }#"
  LINE_NOTIFY_GROUP_ID: "#{ line_notify_group_id | default('') }#"
  ANTHROPIC_API_KEY: "#{ anthropic_api_key | default('') }#"
  DATABASE_URL: "#{ database_url | default('') }#"
  SYNOPHOTO_AUTH0_DOMAIN: "#{ synophoto_auth0_domain | default('') }#"
  SYNOPHOTO_AUTH0_CLIENT_ID: "#{ synophoto_auth0_client_id | default('') }#"
  SYNOPHOTO_AUTH0_CLIENT_SECRET: "#{ synophoto_auth0_client_secret | default('') }#"
  SYNOPHOTO_ALLOWED_EMAILS: "#{ synophoto_allowed_emails | default('') }#"
  SYNOPHOTO_FLASK_SECRET_KEY: "#{ synophoto_flask_secret_key | default('') }#"
  FREEPBX_MYSQL_ROOT_PASSWORD: "#{ freepbx_mysql_root_password | default('') }#"
  FREEPBX_MYSQL_PASSWORD: "#{ freepbx_mysql_password | default('') }#"
  OMNI_GPG_KEY_B64: "#{ omni_gpg_key | default('') | b64encode }#"
